* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #userInput {
  width: 260px;
  height: 100px;
}
#container #userInput ul li {
  margin: 15px;
}
#container #userInput ul li label {
  display: inline-block;
  width: 50px;
  padding: 5px;
}
#container #userInput ul li input[type=text] {
  width: 140px;
  border: none;
  border-bottom: 1px solid #ccc;
}
#container #userInput ul li input[type=button] {
  width: 200px;
  padding: 6px;
  border: none;
}
#container #result {
  width: 300px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #fcfcfc;
}