:root {
  --main-dark: #000;
  --main-light: #fff;
  --sub-bg-color: #333;
  --pannel-bg-color: #444;
  --text-bottom-line: #777;
  --sub-text-color: #888;
  --info-text-color: #999;
  --nav-text-color: #bbb;
  --border-bg-hover: #ffa500;
  --alegreya-font-family: "Alegreya Sans", serif;
}
