* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px;
  border: none;
  background: #639;
  color: #fff;
  transition: transform 0.3s;
  &.active {
    transform: translateX(-110px);
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: #639;
  color: #fff;
  height: 100vh;
  padding: 3rem;
  transform: translateX(100%);
  transition: transform 0.3s;
  li {
    padding: 1rem 0;
  }
  &.active {
    transform: translateX(0);
  }
}
