@import "./reset.scss";
@import "./variables.scss";

/* mixin */
@mixin innerContents {
  .contents-title {
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
      color: map-get($map: $color, $key: theme);
      font: bold 1.4rem/1 "arial";
    }
    .subtitle {
      font: bold 1.4rem/1 "arial";
    }
  }
}

@mixin gameContainer {
  width: 100%;
  height: 158px;
  border: 1px solid map-get($map: $color, $key: gray);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  box-shadow: 0 0 8px map-get($map: $color, $key: gray);
  overflow: hidden;

  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
  }
  img {
    position: relative;
  }
  .game-title,
  .game-subtitle {
    position: relative;
    color: map-get($map: $color, $key: light);
  }
  .game-title {
    font: normal 1.6rem/1 "arial";
  }
  .game-subtitle {
    font: normal 1.4rem/1 "arial";
  }
}

@mixin buttnType {
  border: none;
  border-radius: 8px;
  padding: 2px 8px;
  background: map-get($map: $color, $key: button);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: map-get($map: $color, $key: accent);
    color: map-get($map: $color, $key: light);
  }
}

/*common*/
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
  }
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  #wrapper-header {
    width: 100%;
    height: 48px;
    @include innerContents;
    .header-line {
      width: 100%;
      border-top: 1px solid map-get($map: $color, $key: gray);
      margin: 4px 0;
    }
  }
  & > section:nth-child(2) {
    background: url("../contents/bg_1.jpg") center -90px / cover no-repeat;
    @include gameContainer;
    .word-text {
      position: relative;
      input[type="text"] {
        border: none;
        border-bottom: 1px solid map-get($map: $color, $key: border);
        background: transparent;
        color: map-get($map: $color, $key: light);
        padding: 0 0 2px 8px;
        &::placeholder {
          opacity: 1;
          color: map-get($map: $color, $key: light);
          transition: opacity 0.3s;
        }
        &:focus {
          outline: none;
          &::placeholder {
            opacity: 0;
            color: map-get($map: $color, $key: light);
          }
        }
      }
      input[type="submit"] {
        @include buttnType;
      }
    }
    .word-result {
      position: relative;
      color: map-get($map: $color, $key: result);
    }
  }
  & > section:nth-child(3) {
    background: url("../contents/bg_2.jpg") center -90px / cover no-repeat;
    @include gameContainer;
    .game-lotto-number {
      position: relative;
      background: map-get($map: $color, $key: result);
      margin: 5px 0;
      padding: 4px 14px;
      border-radius: 8px;
      font-size: 1.4rem;
      span {
        color: map-get($map: $color, $key: accent);
      }
    }
    .lotto-btn {
      position: relative;
      @include buttnType();
    }
  }
}
