* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* mixin */
/*common*/
html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
}

#wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#wrapper #wrapper-header {
  width: 100%;
  height: 48px;
}
#wrapper #wrapper-header .contents-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
#wrapper #wrapper-header .contents-title .title {
  color: #55b2e4;
  font: bold 1.4rem/1 "arial";
}
#wrapper #wrapper-header .contents-title .subtitle {
  font: bold 1.4rem/1 "arial";
}
#wrapper #wrapper-header .header-line {
  width: 100%;
  border-top: 1px solid #808080;
  margin: 4px 0;
}
#wrapper #wrapper-header .albumWrapper {
  display: flex;
  justify-content: space-between;
}
#wrapper #wrapper-header .albumWrapper .album-thumbnail {
  width: 120px;
  height: 120px;
}
#wrapper #wrapper-header .albumWrapper .album-songtitle {
  font-size: 1.2rem;
  color: #808080;
}
#wrapper #wrapper-header .albumWrapper .album-artist {
  color: #0f465e;
  font-size: 1.4rem;
}
#wrapper #wrapper-body {
  width: 100%;
}
#wrapper #wrapper-body .contents-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
#wrapper #wrapper-body .contents-title .title {
  color: #55b2e4;
  font: bold 1.4rem/1 "arial";
}
#wrapper #wrapper-body .contents-title .subtitle {
  font: bold 1.4rem/1 "arial";
}
#wrapper #wrapper-body .albumTable {
  width: 100%;
  margin: 4px 0;
  padding: 2px;
  border-spacing: 0;
}
#wrapper #wrapper-body .albumTable th {
  background: #eee;
  padding: 2px;
  font-size: 1.4rem;
}
#wrapper #wrapper-body .albumTable td {
  color: #0f465e;
  border-bottom: 1px dashed #808080;
  height: 25px;
}
#wrapper #wrapper-body .albumTable .albumTable-checkbox {
  width: 5%;
  text-align: center;
}
#wrapper #wrapper-body .albumTable .albumTable-number {
  width: 18%;
  text-align: center;
}
#wrapper #wrapper-body .albumTable .albumTable-song {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding-left: 40px;
}
#wrapper #wrapper-body .albumTable .albumTable-song i {
  display: inline-block;
  width: 24px;
  height: 18px;
  font-size: 1.4rem;
  border-radius: 3px;
  padding-left: 8px;
  padding-top: 2px;
  background: #dc143c;
  color: #fff;
  cursor: pointer;
}
#wrapper #wrapper-body .albumTable .albumTable-artist {
  width: 26%;
  text-align: center;
}
#wrapper #wrapper-body .albumTable-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrapper #wrapper-body .albumTable-footer button {
  background: #808080;
  color: #fff;
  border: none;
  padding: 3px 5px;
  border-radius: 6px;
  cursor: pointer;
}
#wrapper #wrapper-body .albumTable-footer .footer-center {
  color: #dc143c;
}