@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  perspective: 700px;
}
.center .number-input {
  width: 380px;
  height: 200px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 38px;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  transition: all 0.3s;
}
.center .number-input .btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background: #fff;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.center .number-input .btn:active::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  animation: circle 0.3s ease-out;
}
.center .number-input .btn span {
  font-size: 31px;
  color: #2a5298;
}
.center .number-input .value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.center .number-input .value .num {
  font-size: 60px;
}
.center .number-input .value .text {
  font-size: 18px;
  font-weight: 500;
}

@keyframes circle {
  0% {
    width: 80px;
    height: 80px;
    opacity: 0.5;
  }
  100% {
    width: 230px;
    height: 230px;
    opacity: 0.3;
  }
}