* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: brown;
}

ul {
  display: flex;
  li {
    width: 100px;
    height: 100px;
    background: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
