* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circle.circle1 {
  background: burlywood;
}
.circle.circle2 {
  background: mediumaquamarine;
}