* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #b2ffff 0%, #786ce6 100%);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .circle {
  position: absolute;
  top: calc(50% - 340px);
  left: calc(50% - 405px);
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}
main .eye {
  position: absolute;
  top: 250px;
  left: calc(50% + 220px);
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  animation: ani 1s ease-in-out infinite alternate;
}
main .svg {
  width: 800px;
  min-width: 800px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
}

@keyframes ani {
  0% {
    height: 20px;
  }
  100% {
    height: 10px;
    transform: skew(10deg);
  }
}