* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./images/bg-1.jpg") center/cover no-repeat;
}

#container {
  width: 550px;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
}