.container {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 14px;
  background: var(--light);
  box-shadow: 0 8px 30px rgba(100, 100, 110, 0.2);

  & > header {
    height: 60px;
    line-height: 60px;
  }

  & > footer {
    color: var(--footer);
    padding: 60px 0;
  }
}
