* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#star-rating {
  display: flex;
  gap: 10px;
  background: #333;
  padding: 6px 18px;
  border-radius: 8px;
}
#star-rating .stars > .fa-star {
  cursor: pointer;
}
#star-rating .stars > .fa-star.active {
  color: #ff0;
}
#star-rating .print {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
}