* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 기본폰트 16px * 0.625 = 10 */
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://cdn.imweb.me/upload/S202207202685e30f16e24/41f854bd38a2b.jpeg")
    no-repeat center/cover;
}

#wrapper {
  border-radius: 12px;
  padding: 40px 80px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .block {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .buttons {
    display: flex;
    gap: 14px;
    margin: 20px 0;
    button {
      flex: 1;
      height: 40px;
      border: none;
      border-radius: 8px;
      font-size: 1.6rem;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      color: #fff;
      opacity: 0.8;
      cursor: pointer;
      transition: opacity 0.3s;
      &.red {
        background: crimson;
      }
      &.blue {
        background: dodgerblue;
      }
      &.green {
        background: yellowgreen;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .result {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }
}
