* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --light: #fff;
  --dark: #111;
  --border: #ccc;
  --accent: #dc143c;
  --background: #fafafa;
  --footer: #808080;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--background);
}
