:root {
  --main-dark: #000;
  --main-light: #fff;
  --main-font-color: #ddd;
  --sub-font-color: #bbb;
  --info-font-color: #999;
  --text-shadow-color: #555;
  --border-main-color: #ccc;
  --accent-icon-color: #e0ffff;
  --accent-font-color: #00ffff;
  --orbitron: "Orbitron", serif;
}
