.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  & > section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > .cover_img_container {
      display: flex;
      justify-content: center;
      padding: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-image: inherit;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
      }
      & > img {
        z-index: 1;
        max-height: 350px;
        height: 100%;
      }
    }
    & > .title {
      font-size: 2rem;
      font-weight: bold;
    }
    & > .subtitle {
      color: var(--footer);
    }
    & > .author {
      color: var(--footer);
    }
    & > .description {
      background: rgb(245, 245, 245);
      padding: 14px;
      border-radius: 4px;
      line-height: 1.3;
    }
  }
}
