@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* contents */
.video-frame {
  width: 100%;
  height: 100vh;
  position: relative;
}
.video-frame::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, #dc143c, transparent);
  z-index: 2;
}
.video-frame video {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 3;
}

.heading {
  width: 700px;
  position: absolute;
  left: 100px;
  bottom: 100px;
  z-index: 3;
  animation: showing1 2s 1s linear both;
}
.heading h1 {
  font-size: 4rem;
}
.heading h1 span {
  display: block;
  color: #dc143c;
}
.heading p {
  font-size: 2rem;
  color: #fff;
}
.heading .buttons a {
  display: inline-block;
  width: 150px;
  margin: 14px 8px;
  padding: 8px;
  background: #fff;
  color: #222;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 20px;
}
.heading .buttons a.btn-learn {
  background: transparent;
  color: #fff;
  transition: all 0.5s;
}
.heading .buttons a.btn-learn:hover {
  background: #fff;
  color: #000;
}
.heading .buttons a.btn-book {
  transition: all 0.5s;
}
.heading .buttons a.btn-book:hover {
  background: #000;
  color: #fff;
  border: 2px solid #000;
}

.anniversary {
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 3;
  text-align: center;
  animation: showing2 2s 1s linear both;
}
.anniversary em {
  display: block;
  font-size: 3rem;
  font-style: normal;
  letter-spacing: 5px;
  margin-bottom: -10px;
}
.anniversary span {
  font-size: 10rem;
  font-family: "Monoton";
}

.trigger {
  position: absolute;
  top: 50px;
  right: 100px;
  z-index: 4;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.trigger span {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  transition: all 0.3s;
}
.trigger span:first-of-type {
  top: 0;
}
.trigger span:nth-of-type(2) {
  top: 50%;
  width: 80%;
}
.trigger span:last-of-type {
  top: 100%;
}
.trigger.active span {
  background: #fff;
}
.trigger.active span:first-child {
  top: 50%;
  transform: rotate(45deg);
}
.trigger.active span:nth-child(2) {
  opacity: 0;
}
.trigger.active span:last-child {
  top: 50%;
  transform: rotate(-45deg);
}

.modal-gnb {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.modal-gnb .gnb {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.modal-gnb .gnb a {
  font-size: 4rem;
  font-family: "Raleway";
  color: #fff;
  transition: all 0.3s;
  animation: gnb 0.5s linear;
  animation-fill-mode: both;
}
.modal-gnb .gnb a:nth-child(1) {
  animation-delay: 0.5s;
}
.modal-gnb .gnb a:nth-child(2) {
  animation-delay: 0.7s;
}
.modal-gnb .gnb a:nth-child(3) {
  animation-delay: 0.9s;
}
.modal-gnb .gnb a:nth-child(4) {
  animation-delay: 1.1s;
}
.modal-gnb .gnb a:nth-child(5) {
  animation-delay: 1.3s;
}
.modal-gnb .gnb a:hover {
  color: #dc143c;
}
.modal-gnb.active {
  display: flex;
}

@keyframes gnb {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
@keyframes showing2 {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}