@import "./styles/variables.scss";
@import "./styles/reset.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: $main-font-size;
}

.frame {
  border: 2px solid #000;
  padding: 20px;
  text-align: center;
  @at-root .heading {
    font-size: $main-font-size * 5;
    color: $main-red-color;
    font-weight: normal;
  }
}
