* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table,
th,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

table {
  width: 350px;
  margin: 10px;
  display: inline-block;
}

th {
  width: 80px;
}

td {
  width: 270px;
  padding: 10px 20px;
}