.container {
  display: flex;
  gap: 14px;
  padding: 20px 10px;
  border-bottom: 1px solid var(--border-color);
  & > img {
    width: 80px;
  }
  & .title {
    font-weight: bold;
    margin-bottom: 4px;
  }
  & .subTitle {
    font-size: 1.4rem;
    text-decoration: underline;
  }
  & .author {
    color: var(--border-color);
    font-size: 1.2rem;
  }
}
