.container {
  max-width: 600px;
  min-height: 100vh;
  background: var(--light-color);
  margin: 0 auto;
  padding: 0 14px;
  box-shadow: 0 0 28px rgba(100, 100, 100, 0.2);
  .header {
    height: 60px;
    font: bold 1.8rem/60px "arial";
  }
  .footer {
    padding: 100px 0;
    color: var(--footer-color);
  }
}
