.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  & > input[type="text"] {
    flex: 1;
    padding: 14px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
  & > input[type="submit"] {
    width: 80px;
    border: 1px solid #2593ff;
    border-radius: 4px;
    background: #2593ff;
    color: var(--light-color);
    cursor: pointer;
  }
}
