* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  width: 428px;
  height: 926px;
  background: #ffde03;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}