* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #toggle-btn {
  position: fixed;
  top: 50px;
  right: 50px;
}
body #toggle-btn button {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}
body #contents {
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 18px;
  padding: 30px;
  line-height: 200%;
}
body #contents.dark {
  background: #000;
  color: #fff;
}
body.dark {
  background: #222;
  color: #eee;
}