@import "./styles/reset.scss";
@import "./styles/variables.scss";

html {
  font-size: 62.5%;
}

// toggle Menu
body {
  font-size: 1.6rem;
  #nav_icon {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
    div {
      width: 100%;
      height: 100%;
      position: relative;
      span {
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background: map-get($map: $color, $key: light);
        transition: all 0.3s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 20px;
        }
      }
    }
  }
  // gnb
  nav {
    position: fixed;
    top: 30px;
    right: 60px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
    transition: all 0.3s ease-in-out;
    ul {
      display: flex;
      li {
        margin-right: 20px;
        a {
          color: rgba(#fff, 0.7);
        }
      }
    }
  }
  &.nav_active {
    & #nav_icon {
      div {
        span {
          &:nth-child(1) {
            top: 10px;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
            transform: translateX(100%);
          }
          &:nth-child(3) {
            top: 10px;
            transform: rotate(-45deg);
          }
        }
      }
    }
    & nav {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }
}

// fullpage Contents
#fullpage {
  .section {
    .inner {
      width: 100%;
      height: 100%;
      max-width: 1200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      .title {
        font-size: 3.8rem;
        color: map-get($map: $color, $key: light);
        transform: translateX(-100%);
        transition: all 0.3s 0.8s ease-in-out;
        opacity: 0;
      }
    }
    &#sec0 {
      background-image: linear-gradient(-30deg, #20e2d7 0%, #f9fea5 100%);
      .inner {
        svg,
        img {
          position: absolute;
          left: 50%;
          top: 50%;
        }
        .svg2 {
          width: 657px;
          transform: translate(-50%, -50%);
        }
        .svg1 {
          fill: none;
          stroke: #fff;
          transform: translate(-49.5%, -49.5%);
        }
      }
    }
    &#sec1 {
      background-image: linear-gradient(150deg, #aefdae 0%, #58d2e7 100%);
      .inner {
        flex-direction: column;
        h1 {
          img {
            width: 400px;
          }
        }
        .gage_wrap {
          width: 500px;
          margin-top: 50px;
          ul {
            display: flex;
            li {
              width: 25%;
              text-align: center;
              .gage {
                width: 15px;
                height: 150px;
                background: rgba(#fff, 0.2);
                position: relative;
                padding: 5px;
                margin: 0 auto;
                .gage_in {
                  position: absolute;
                  bottom: 0;
                  width: 5px;
                  height: 20%;
                  background: map-get($map: $color, $key: light);
                }
              }
              .gage_tit {
                color: map-get($map: $color, $key: light);
                margin-top: 20px;
                border: 1px solid #fff;
              }
            }
          }
        }
      }
    }
    &#sec2 {
      background-image: linear-gradient(150deg, #b8fccc 0%, #5cd5e6 100%);
      .inner {
        justify-content: space-around;
        .slider_wrap {
          width: 600px;
          height: 400px;
          position: relative;
          transition: all 0.3s 0.5s ease-in-out;
          .slide {
            height: 100%;
            .silder_inner {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 3rem;
              color: map-get($map: $color, $key: light);
            }
            &.sl_01 {
              background: #3a6cc2;
            }
            &.sl_02 {
              background: #3cd395;
            }
            &.sl_03 {
              background: #9246aa;
            }
            &.sl_04 {
              background: #5cbd4b;
            }
          }
        }
        .fp-controlArrow {
          &.fp-next {
            right: -40px;
            border-width: 19.5px 0 19.5px 18px;
          }
          &.fp-prev {
            left: -40px;
            border-width: 19.5px 18px 19.5px 0;
          }
        }
      }
      // &.active {
      //   .inner {
      //     .title {
      //       opacity: 1;
      //       transform: translateX(0) translateY(0);
      //     }
      //   }
      // }
    }
    &#sec3 {
      background-image: linear-gradient(
        150deg,
        #9efbe7 0%,
        #57e9f2 48%,
        #45d4fb 100%
      );
    }
    &#sec4 {
      background-image: linear-gradient(150deg, #37fff5 0%, #20a9ff 100%);
    }
    &.active {
      .inner {
        .title {
          opacity: 1;
          transform: translateX(0) translateY(0);
        }
      }
    }
  }
}
