// google font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

// reset
@import "./styles/reset.scss";
// variables
@import "./styles/variables.scss";

/* common */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background: map-get($map: $color, $key: main-light-color);
  color: map-get($map: $color, $key: main-font-color);
  font-family: map-get($map: $fontFamily, $key: mont-font-family);
}

.cd-section {
  height: 100vh;
  & > div {
    height: 100%;
    position: relative;
    .content {
      background: map-get($map: $color, $key: content-bg-color);
      width: calc(100% - 40px);
      height: calc(100% - 80px);
      position: absolute;
      left: 20px;
      bottom: 20px;
      overflow: hidden;
    }
  }
}

/* content-item */

/* ==== plan ==== */
.plan-inner {
  background: map-get($map: $color, $key: main-dark-color);
  height: 100%;
  .plan-feature {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & > div {
      height: 300px;
      color: map-get($map: $color, $key: button-bg-color);
    }
    .plan-info {
      display: flex;
      gap: 50px;
      .plan-heading {
        width: 70%;
        h2 {
          color: map-get($map: $color, $key: main-light-color);
        }
        .bar {
          display: inline-block;
          height: 2px;
          border: none;
          background: map-get($map: $color, $key: input-hover-color);
          width: 300px;
          margin: 10px 0;
        }
        p {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
      .plan-photo {
        width: 30%;
        img {
          height: 265px;
        }
      }
    }
    .history-info {
      h2 {
        color: map-get($map: $color, $key: main-light-color);
      }
      .bar {
        display: inline-block;
        height: 2px;
        border: none;
        background: map-get($map: $color, $key: input-hover-color);
        width: 300px;
        margin: 10px 0;
      }
      .history-slider {
        div {
          h4 {
            color: map-get($map: $color, $key: main-light-color);
            font-size: 2.2rem;
            font-weight: normal;
            line-height: 2.4rem;
            margin-bottom: 10px;
            span {
              color: map-get($map: $color, $key: input-hover-color);
            }
          }
          p {
            font-size: 1.8rem;
            width: 70%;
          }
        }
        .slick-dots li button::before {
          color: map-get($map: $color, $key: main-light-color);
          font-size: 2.4rem;
        }
        .slick-arrow {
          display: none !important;
        }
      }
    }
  }
}

/* ==== awards ==== */
.awards-inner {
  display: flex;
  height: 100%;
  border: 1px solid map-get($map: $color, $key: content-bg-color);

  .about-awards {
    width: 100%;
    height: 100%;
    position: relative;
    background: map-get($map: $color, $key: awards-bg-color);
    color: map-get($map: $color, $key: main-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .about-heading {
      padding: 120px;
      h2 {
        font-size: 3.6rem;
      }
      .bar {
        width: 50px;
        height: 4px;
        border: none;
        background: map-get($map: $color, $key: bars-bg-color);
        margin: 30px auto;
      }
      p {
        color: map-get($map: $color, $key: sub-font-color);
        font-size: 1.8rem;
        line-height: 3rem;
        margin-bottom: 30px;
      }
      .view-awards {
        display: inline-block;
        border: 1px solid map-get($map: $color, $key: button-bg-color);
        color: map-get($map: $color, $key: button-bg-color);
        padding: 12px 28px;
        border-radius: 30px;
        transition: all 0.5s;
        &:hover {
          background: map-get($map: $color, $key: button-sub-color);
          color: map-get($map: $color, $key: main-light-color);
          border: 1px solid transparent;
        }
      }
    }
  }

  .victory-jump {
    background: map-get($map: $color, $key: main-light-color);
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* === location === */
.location-inner {
  height: 100%;
  background: url("./images/background-location.jpg") center/cover no-repeat;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.8);
  }
  .feature {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: map-get($map: $color, $key: button-bg-color);
    display: flex;
    gap: 100px;
    .office {
      width: 60%;
      b {
        font-weight: normal;
      }
      h2 {
        color: map-get($map: $color, $key: sub-title-color);
        font-weight: 500;
        margin-top: 5px;
      }
      p {
        font-size: 1.6rem;
        line-height: 2.3rem;
      }
      span {
        color: map-get($map: $color, $key: main-light-color);
        display: inline-block;
        margin-top: 8px;
      }
      .customer {
        margin-top: 40px;
      }
    }
    .service {
      width: 40%;
      .service-item {
        margin-bottom: 40px;
        i {
          color: map-get($map: $color, $key: sub-title-color);
          font-size: 40px;
        }
        h3 {
          color: map-get($map: $color, $key: main-light-color);
          font-size: 2.4rem;
          margin: 8px 0 4px;
        }
      }
    }
  }
}

/* === contact === */
.contact-inner {
  width: 100%;
  height: 100%;
  background-color: map-get($map: $color, $key: main-light-color);
  border: 1px solid map-get($map: $color, $key: content-bg-color);
  .contact-feature {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    & > div {
      width: 50%;
      padding: 20px;
    }
    .contact-form {
      h3 {
        font-size: 3rem;
        font-weight: normal;
        margin-bottom: 6px;
      }
      .send-box {
        label {
          display: block;
          font-weight: bold;
          font-size: 1.6rem;
          margin: 30px 0 18px;
          span {
            font-weight: normal;
            color: map-get($map: $color, $key: bars-bg-color);
          }
        }
        input,
        textarea {
          width: 100%;
          border: 1px solid map-get($map: $color, $key: input-border-color);
          border-radius: 3px;
          padding: 10px;
          transition: all 0.3s;
          &:focus {
            outline: none;
            background: map-get($map: $color, $key: input-focus-color);
          }
          &:hover {
            border: 1px solid map-get($map: $color, $key: input-hover-color);
            box-shadow: 0 0 5px map-get($map: $color, $key: input-hover-color);
          }
        }
        input[type="submit"] {
          background: map-get($map: $color, $key: input-hover-color);
          color: map-get($map: $color, $key: main-light-color);
          margin-top: 10px;
          padding: 12px 20px;
          border-radius: 3px;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background: map-get($map: $color, $key: main-dark-color);
            border: 1px solid map-get($map: $color, $key: main-dark-color);
            box-shadow: none;
          }
        }
      }
    }
    .contact-info {
      h4 {
        font-weight: normal;
        font-size: 2.6rem;
        margin: 20px 0 10px;
        &:first-of-type {
          margin-top: 0;
        }
      }
      ul {
        li {
          line-height: 2.6rem;
        }
      }
      p {
        line-height: 2.6rem;
      }
    }
  }
}
