@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/* common */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  background: #fff;
  color: #222;
  font-family: "Montserrat";
}

.cd-section {
  height: 100vh;
}
.cd-section > div {
  height: 100%;
  position: relative;
}
.cd-section > div .content {
  background: #ddd;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  position: absolute;
  left: 20px;
  bottom: 20px;
  overflow: hidden;
}

/* content-item */
/* ==== awards ==== */
.awards-inner {
  display: flex;
  height: 100%;
  border: 1px solid #ddd;
}
.awards-inner .about-awards {
  width: 100%;
  height: 100%;
  position: relative;
  background: #1a1f24;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.awards-inner .about-awards .about-heading {
  padding: 120px;
}
.awards-inner .about-awards .about-heading h2 {
  font-size: 3.6rem;
}
.awards-inner .about-awards .about-heading .bar {
  width: 50px;
  height: 4px;
  border: none;
  background: #dc143c;
  margin: 30px auto;
}
.awards-inner .about-awards .about-heading p {
  color: #999;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 30px;
}
.awards-inner .about-awards .about-heading .view-awards {
  display: inline-block;
  border: 1px solid #bbb;
  color: #bbb;
  padding: 12px 28px;
  border-radius: 30px;
  transition: all 0.5s;
}
.awards-inner .about-awards .about-heading .view-awards:hover {
  background: #31c0ce;
  color: #fff;
  border: 1px solid transparent;
}
.awards-inner .victory-jump {
  background: #fff;
  width: 100%;
  height: 100%;
}
.awards-inner .victory-jump img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}