* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character {
  width: 100px;
  height: 100px;
  background: url("./img/character.png") center/95% no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}